@model Studentenbeheer.Models.DocentModule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DocentModule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Module)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Module.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Docent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Docent.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
